---
title: Encontros
---


<div class="container meetings">
    <div class="row">
        <h2>Próximos encontros</h2>
    </div>
    <div class="row">
        <ul class="events_list">
            <li class="event_item col-md-4">
                <a href="#">
                    <img src="assets/images/meeting.jpg" alt="">
                    <label class="event-date">10/10/2014</label>
                    <label class="event-location">Local: Action Inovation Center</label>
                </a>
            </li>
            <li class="event_item col-md-4">
                <a href="#">
                    <img src="assets/images/meeting.jpg" alt="">
                    <label class="event-date">10/10/2014</label>
                    <label class="event-location">Local: Action Inovation Center</label>
                </a>
            </li>
            <li class="event_item col-md-4">
                <a href="#">
                    <img src="assets/images/meeting.jpg" alt="">
                    <label class="event-date">10/10/2014</label>
                    <label class="event-location">Local: Action Inovation Center</label>
                </a>
            </li>
            <li class="event_item col-md-4">
                <a href="#">
                    <img src="assets/images/meeting.jpg" alt="">
                    <label class="event-date">10/10/2014</label>
                    <label class="event-location">Local: Action Inovation Center</label>
                </a>
            </li>

        </ul>

    </div>

    <div class="row">
        <h2>Encontros anteriores</h2>
    </div>
    <div class="row">
        <ul class="events_list">
            <li class="event_item col-md-4">
                <a href="#">
                    <img src="assets/images/meeting.jpg" alt="">
                    <label class="event-date">10/10/2014</label>
                    <label class="event-location">Local: Action Inovation Center</label>
                </a>
            </li>
            <li class="event_item col-md-4">
                <a href="#">
                    <img src="assets/images/meeting.jpg" alt="">
                    <label class="event-date">10/10/2014</label>
                    <label class="event-location">Local: Action Inovation Center</label>
                </a>
            </li>
            <li class="event_item col-md-4">
                <a href="#">
                    <img src="assets/images/meeting.jpg" alt="">
                    <label class="event-date">10/10/2014</label>
                    <label class="event-location">Local: Action Inovation Center</label>
                </a>
            </li>
            <li class="event_item col-md-4">
                <a href="#">
                    <img src="assets/images/meeting.jpg" alt="">
                    <label class="event-date">10/10/2014</label>
                    <label class="event-location">Local: Action Inovation Center</label>
                </a>
            </li>

        </ul>

    </div>
</div>
