/*********************************************************************
*  Colors
*********************************************************************/

$gray :             #515558;
$black :            #373c3f;
$white:             #ffffff;
$pink :             #cd1e52;



/*********************************************************************
*  Typography
*********************************************************************/

$base-font-size:                16;
$base-line-height:              16;

$base-font-family:              'Helvetica', serif;
$base-title-font-family:        'Helvetica', serif;
