---
title: Projetos
---


<div class="container projects">
    <div class="row">
        <h2>Open Source</h2>
    </div>
    <div class="row">
        <ul class="project_items">
            <li class="project_item">
                <img src="assets/images/project-image.jpg" class="project_image" alt="Project Image">
                <div class="box-data">
                    <h4 class="project-title">
                        Guru Al Website
                    </h4>
                    Website: <a href="http://gurual.org">http://gurual.org</a> <br>
                    Github: <a href="http://github.com" class="github">http://github.com</a>
                    <br>
                    <span class="how_i_can_help">Como posso ajudar?</span>
                    <br>
                    <a href="#" class="bt_contribution">
                        Contribua com melhorias no código-fonte
                    </a>
                    <ul class="people_list">
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </li>
            <li class="project_item">
                <img src="assets/images/project-image.jpg" class="project_image" alt="">
                <div class="box-data">
                    <h4 class="project-title">
                        Guru Al Website
                    </h4>
                    Website: <a href="http://gurual.org">http://gurual.org</a> <br>
                    Github: <a href="http://github.com" class="github">http://github.com</a>
                    <br>
                    <span class="how_i_can_help">Como posso ajudar?</span>
                    <br>
                    <a href="#" class="bt_contribution">
                        Contribua com melhorias no código-fonte
                    </a>
                    <ul class="people_list">
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </li>
            <li class="project_item">
                <img src="assets/images/project-image.jpg" class="project_image" alt="">
                <div class="box-data">
                    <h4 class="project-title">
                        Guru Al Website
                    </h4>
                    Website: <a href="http://gurual.org">http://gurual.org</a> <br>
                    Github: <a href="http://github.com" class="github">http://github.com</a>
                    <br>
                    <span class="how_i_can_help">Como posso ajudar?</span>
                    <br>
                    <a href="#" class="bt_contribution">
                        Contribua com melhorias no código-fonte
                    </a>
                    <ul class="people_list">
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                        <li class="people_item">
                            <img src="assets/images/contribution-person.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
