---
title: Index
---

<div class="container home_page">
    <section class="proximo_encontro">
        <div class="row">
            <h2>Próximo encontro</h2>
        </div>
        <div class="row">
            <p class="no_events">
                No momento não há eventos confirmados <br>
                <a href="#">Eventos passados</a>
            </p>
        </div>
    </section>
    <section class="about_description">
        <div class="row">
            <h2>GURU AL - Grupo de Usuários Ruby de Alagoas</h2>
        </div>
        <div class="row">
            <p>
                O GURU AL, Grupo de Usuários Ruby de Alagoas, é um grupo de simpatizantes interessados em aprender, compartilhar e divulgar o uso da linguagem de programação Ruby e seus diversos frameworks, gems e aplicações. É também um grupo aberto a discussões de outros assuntos relacionados a desenvolvimento de software. O grupo tem como objetivo a realização de eventos mensais, contendo apresentações de palestras, exposição de casos de uso e a diversão de todos os participantes.
            </p>
        </div>
    </section>
    <section class="links_uteis">
        <div class="row">
            <h2>Na Internet</h2>
        </div>
        <div class="row">
            <p>
                Leve o GURU AL (gratuitamente) para palestrar, ministrar um curso ou fazer um encontro na sua universidade ou empresa através dos contatos:
                <ul>
                    <li>
                        <a href="#">
                            Twitter
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Google Group
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Github
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Email
                        </a>
                    </li>
                </ul>
            </p>
        </div>
    </section>
    <section class="empresas_apoio">
        <div class="row">
            <h2>Empresas que apoiam</h2>
        </div>
        <div class="row">
            <ul class="empresas_lista">
                <li class="empresa_item col-md-3">
                    <a href="http://alagoasdevday.com.br" target="_blank" >
                        <img src="assets/images/empresa.jpg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>
