---
title: Index
---

<div class="container home_page">
    <section class="proximo_encontro">
        <div class="row">
            <h2>Próximo encontro</h2>
        </div>
        <div class="row">
            xxx
        </div>
    </section>
    <section class="about_description">
        <div class="row">
            <h2>GURU AL - Grupo de Usuários Ruby de Alagoas</h2>
        </div>
        <div class="row">
            <p>
                Eiiitaaa Mainhaaa!! Esse Lorem ipsum é só na sacanageeem!! E que abundância meu irmão viuu!! Assim você vai matar o papai. Só digo uma coisa, Domingo ela não vai! Danadaa!! Vem minha odalisca, agora faz essa cobra coral subir!!! Pau que nasce torto, Nunca se endireita. Tchannn!! Tchannn!! Tu du du pááá! Eu gostchu muitchu, heinn! danadinha! Mainhaa! Agora use meu lorem ipsum ordinária!!! Olha o quibeee! rema, rema, ordinária!.
            </p>
        </div>
    </section>
    <section class="links_uteis">
        <div class="row">
            <h2>Na Internet</h2>
        </div>
        <div class="row">
            <p>
                Eiiitaaa Mainhaaa!! Esse Lorem ipsum é só na sacanageeem!! E que abundância meu irmão viuu!! Assim você vai matar o papai. Só digo uma coisa, Domingo ela não vai! Danadaa!! Vem minha odalisca, agora faz essa cobra coral subir!!! Pau que nasce torto, Nunca se endireita. Tchannn!! Tchannn!! Tu du du pááá! Eu gostchu muitchu, heinn! danadinha! Mainhaa! Agora use meu lorem ipsum ordinária!!! Olha o quibeee! rema, rema, ordinária!. xx
            </p>
        </div>
    </section>
    <section class="empresas_apoio">
        <div class="row">
            <h2>Empresas que apoiam</h2>
        </div>
        <div class="row">
            <ul class="empresas_lista">
                <li class="empresa_item col-md-3">
                    <a href="#" >
                        <img src="assets/images/empresa.jpg" alt="">
                    </a>
                </li>
                <li class="empresa_item col-md-3">
                    <a href="#">
                        <img src="assets/images/empresa.jpg" alt="">
                    </a>
                </li>
                <li class="empresa_item col-md-3">
                    <a href="#">
                        <img src="assets/images/empresa.jpg" alt="">
                    </a>
                </li>
                <li class="empresa_item col-md-3">
                    <a href="#">
                        <img src="assets/images/empresa.jpg" alt="">
                    </a>
                </li>
                <li class="empresa_item col-md-3">
                    <a href="#">
                        <img src="assets/images/empresa.jpg" alt="">
                    </a>
                </li>
                <li class="empresa_item col-md-3">
                    <a href="#">
                        <img src="assets/images/empresa.jpg" alt="">
                    </a>
                </li>
                <li class="empresa_item col-md-3">
                    <a href="#">
                        <img src="assets/images/empresa.jpg" alt="">
                    </a>
                </li>
                <li class="empresa_item col-md-3">
                    <a href="#">
                        <img src="assets/images/empresa.jpg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>
