// Próximo encontro

.no_events {
    a {
        color: $pink;
        font-weight: bold;
    }
}

// GURU AL - Grupo de Usuários Ruby de Alagoas



// Na Internet

.links_uteis ul {
    padding: 0 15px;
    li {
        a {
            color: $pink;
            font-weight: bold;
        }
    }
}

// Empresas que apoiam

.empresas_lista {
    padding: 0;
    margin: 0;
    li {

        display: inline-block;
        padding: 0 20px 0 0;
        margin-bottom: 20px;
        a {
            display: block;
            background: $pink;
            color: $white;
            img {
                width: 100%;
            }

        }
    }
}














